<link rel="stylesheet" href="/css/home.css">
<input type="text" id="usersSelect" placeholder="Escribe aquí tu código">
<div class="button" onclick="elegirPapel()">
	?
</div>

{{!-- {{> modal gifTo="Meeeee"}} --}}

<script src="/js/home.js"></script>